python-dotenv
numpy
fastapi
uvicorn
python-multipart
python-box
pyYAML
types-PyYAML
albumentations
opencv-python-headless
onnxruntime
onnx
prometheus-fastapi-instrumentator
huggingface_hub
joblib
ensure
psutil
Pillow